@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
:root {
  --main-color: #ff9800;
  --main-transition: 0.3s;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* Start Settings Box */
.settings-box {
  position: fixed;
  left: -200px;
  top: 0;
  background-color: #fff;
  width: 200px;
  z-index: 999;
  min-height: 100vh;
  transition: var(--main-transition);
}
.settings-box.open {
  left: 0;
}
.settings-box .toggle-settings {
  position: absolute;
  right: -30px;
  top: 100px;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
}
.settings-box .toggle-settings i {
  width: 30px;
  padding: 8px 0;
}
.settings-box .settings-container .option-box {
  padding: 20px;
}
.settings-box .settings-container .option-box h4 {
  color: #666;
  margin: 0;
}
.settings-box .settings-container .option-box .colors-list li {
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
  opacity: .5;
  display: inline-block;
}
.settings-box .settings-container .option-box .colors-list li.active {
  opacity: 1;
}
.settings-box .settings-container .option-box .colors-list li:first-child {
  background-color: #ff9800;
}
.settings-box .settings-container .option-box .colors-list li:nth-child(2) {
  background-color: #E91E63;
}
.settings-box .settings-container .option-box .colors-list li:nth-child(3) {
  background-color: #009688;
}
.settings-box .settings-container .option-box .colors-list li:nth-child(4) {
  background-color: #03a9f4;
}
.settings-box .settings-container .option-box .colors-list li:last-child {
  background-color: #4caf50;
}
/* End Settings Box */
/* Start Landing Page */
.landing-page {
  min-height: 100vh;
  background-image: url(../imgs/01.jpg);
  background-size: cover;
  position: relative;
}
.landing-page .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.header-area {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  padding: 10px;
}
.header-area .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
}
.header-area .links {
  list-style: none;
  width: 100%;
  text-align: right;
  padding-left: 0;
  padding-right: 20px;
  font-size: 15px;
}
.header-area .links li {
  display: inline-block;
  margin-left: 10px;
}
.header-area .links li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.header-area .links li a:hover,
.header-area .links li a.active {
  color: var(--main-color);
}
.landing-page .introduction-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  text-align: center;
}
.landing-page .introduction-text h1 {
  font-size: 34px;
  margin: 0 0 12px;
}
.landing-page .introduction-text h1 span {
  color: var(--main-color);
}
.landing-page .introduction-text p {
  line-height: 1.6;
  font-size: 20px;
  margin: 0;
}
/* End Landing Page */
